@import './variables';

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    background-color: #FFFFFF;
    padding: 10px 40px;
    width: 35%;
    // height: 75%;
    height: fit-content;
    overflow: hidden;
    z-index: 1000;
    border-radius: 5px;
    animation: pop-up 200ms ease-in forwards;
    animation: scale 200ms ease-in forwards;
    box-shadow: 0 1px 1px 0 rgba(25, 25, 25, .6),
    0 20px 40px 0 rgba(0, 0, 0, .35);
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .65);
    z-index: 1000;
}

.hidden{
    display: none;
}

.create-channel-modal{
    width: 35%;
    // height: 57%;
    .create-channel-header{
        font-size: 1.5rem;
        font-weight: 700;
        margin-top: 30px;
    }
    .create-channel-description{
        margin: 20px 0;
        font-size: .95rem;
        font-weight: 400;
        color: rgba(0,0,0,.55);
    }
    .slider-header{
        width: 75%;
        font-weight: bold;
        line-height: 22px;
    }
    .slider-description{
        width: 75%;
        line-height: 22px;
    }
    .form-field{
        margin: 20px 0;
        &:last-of-type{
            margin: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .channel-errors{
            padding-left: 10px;
            color: goldenrod;
        }
        label{
            display: block;
            margin: 5px;
        }
        input{
            padding: 10px;
            border: 1px solid black;
            border-radius: 4px;
            width: 100%;
        }
        .pound{
            &::before{
                content: "#";
            }
        }
        //Cool button styling ///////////////
        .switch {
            display: inline-block;
            height: 34px;
            position: relative;
            width: 60px;
        }

        .switch input {
            display: none;
        }

        .slider {
            background-color: #ccc;
            bottom: 0;
            cursor: pointer;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            transition: .4s;
        }

        .slider:before {
            background-color: #fff;
            bottom: 4px;
            content: "";
            height: 26px;
            left: 4px;
            position: absolute;
            transition: .4s;
            width: 26px;
        }

        input:checked+.slider {
            background-color: #66bb6a;
        }

        input:checked+.slider:before {
            transform: translateX(26px);
        }

        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }
    }
    .slide-field{
        margin-bottom: 0;
    }
    .create-channel {
        margin-top: 20px;
        margin-left: auto;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        background-color: lightgray;
        font-weight: bold;
        transition: 200ms;
        margin-bottom: 2rem;
        &:hover{
            cursor: pointer;
            background-color: lighten($color: lightgray, $amount: 5%);
        }
    }
    .create-channel.active{
        background-color: #007a5a;
        color: #FFFFFF;
        &:hover{
            background-color: lighten($color: #007a5a, $amount: 5%);
        }
    }
}

.x-out {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    cursor: pointer;
    font-weight: 300;
    border-radius: 2px;
    width: 30px;
    height: 30px;
    &:hover {
        background-color: darken($color: #FFF, $amount: 7%);
    }
}

@media screen and (max-width: 700px){
    .modal{
        width: 70%;
        height: 90%;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes scale {
    from {
        transform: translate(-50%, -50%) scale(0.1)
    }

    to {
        transform: translate(-50%, -50%) scale(1);
    }
}