.dms{
    flex-direction: column;
    *{
        // border: 1px solid red;
    }
    .browser-container{
        padding: 0 !important;
    }
    .users-search{
        display: flex;
        align-items: center;
        width: 100%;
        height: 40px;
        color: rgba($color: #000000, $alpha: .4);
        border-bottom: 1px solid rgba($color: #000000, $alpha: .15);
    }
    .dm-to{
        padding-left: 20px;
        font-size: 15px;
    }
    .dm-search{
        color: rgba($color: #000000, $alpha: .7);
        width: 100%;
        border: none;
        padding: 10px;
        outline: none;
    }
    .dms-container{
        height: 100%;
        background-color: #f8f8f8;
    }
}