.message-container{
    max-height: calc(100vh - 190px) !important;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column-reverse;
    .message{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        position: relative;
        width: 100%;
        padding: 5px 10px;
        margin: 6px 0;
        font-size: 15px;
        .msg-header{
            font-size: 16px;
            font-weight: 900;
            width: 100%;
        }
        .body{
            padding-left: 5px;
        }
    }
    .reply{
        width: 100%;
        padding-left: 72px;
        margin: -10px 30px 0 0;
    }
    .msg-body {
        min-height: 20px;
        line-height: 24px;
        margin-top: 4px;
        font-size: 15px;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.88);
    }
    .message.edit-bg{
        background-color: #fcf3db;
        // &:hover{
        //     background-color: inherit;
        // }
    }
}

.timestamp{
    margin-left: 14px;
    font-size: 12px;
    color: rgba(97, 96, 97, 1);
    font-weight: 300;
}

.thumbnail-msg{
    margin: 3px 10px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    color: #FFF;
    min-width: 36px;
    min-height: 36px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 36px;
    box-shadow: 0,0,1px,0 rgba($color: #000000, $alpha: 0.1);
}


.hover-msg{
    &:hover{
        background-color: darken($color: #FFF, $amount: 3%);
    }
}
