.message-options{
    height: 36px;
    position: absolute;
    align-self: flex-start;
    max-width: 121px;
    right: 30px;
    margin: 2px 4px;
    top: -20px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba($color: #000000, $alpha: .15);
    box-shadow: 0 0 1px 1px rgba($color: #000000, $alpha: .35), 
    4px 4px 6px 6px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    border-radius: 4px;
    background-color: #FFF;
    button{
        &:first-child{
            margin-left: 4px;
            padding-right: 4px;
        }
        &:last-child{
            margin-right: 2px;
        }
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2px 4px;
        width: 30px;
        height: 30px;
        &:focus {
            outline: none;
        }
        &:hover {
            cursor: pointer;
            background-color: darken($color: #FFF, $amount: 3%);
        }
        &:active {
            background-color: darken($color: #FFF, $amount: 10%);
        }
    }
}
.option-icon{
    z-index: 10;
    width: 26px;
    height: 26px;
    fill: rgb(110, 110, 110);
    // display: flex;
    // justify-content: center;
    // align-items: center;
    border-radius: 2px;
}
.edit{
    padding: 2px;
}
.trash{
    padding-top: 2px;
    width: 26px;
    height: 20px;
}

.option-detail{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    background-color:lighten($color: #000000, $amount: 10%);
    font-size: 12px;
    position: absolute;
    bottom: 45px;
    height: 30px;
    padding: 8px 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.point{
    position: absolute;
    top: 30px;
    right: 85px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #000000;
}
.point.left{
    right: 82px;
}
.point.middle{
    right: 40px;
}
.point.right{
    right: 9px;
}
.point.middle.disabled {
    right: 25px;
}

.point.right.disabled {
    right: 10px;
}
