.chatbar-container{
    display: grid;
    margin-left: 10px;
    // margin-right: 50px;
    .wrapper{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        input{
            width: 100%;
            border-radius: 3px;
            border: 1px solid black;
            height: 40px;
            padding: 10px;
        }
    }
}
#send{
    width: 35px;
    border: none;
    margin-left: 10px;
    margin-right: 20px;
}