@import '../variables';
.app-header{
    grid-column-start: 1;
    grid-row-start: 1;
    width: 100vw;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: $background-dark;
    color: $fullWhite;
    font-weight: $bold;
    font-size: 1rem;
    justify-content: center;
    .title{
        margin-left: auto;
    }
    // .profile-picture{
    //     border: 2px solid green;
    //     margin-left: auto;
    //     margin-right: 10px;
    //     min-width: 25px;
    //     min-height: 25px;
    //     background-color: orange;
    // }
}

.thumbnail-header{
    display: flex;
    justify-content: center;
    background-color: orange;
    position: relative;
    margin-left: auto;
    margin-right: 20px;
    min-width: 28px;
    min-height: 28px;
    border-radius: 1px;
    box-shadow: 0, 0, 1px, 0 rgba($color: #000000, $alpha: 0.1);
    &:after{
        content: "K";
        text-transform: uppercase;
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        line-height: 28px;
        color: $fullWhite;
    }
}