@import '../variables';

.content-header{
    height: 49px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 0 2px 0 rgba($color: #000000, $alpha: .1);
    .header-title{
        font-size: 1.1rem;
        font-weight: bolder;
        margin-left: 20px;
        padding: 5px 8px;
        border-radius: 4px;
        display: inline-block;
        .caret-down {
            transform: rotate(180deg);
            display: inline-block;
            position: relative;
            bottom: 3px;
            left: 3px;
            font-weight: 400;
        }
    }
    .header-title.channel{
         &:hover {
             cursor: pointer;
             background-color: darken($color: #FFFFFF, $amount: 2.5%);
         }
         &::before {
             content: "#";
             padding-right: 5px;
         }
    }
    .header-description{
        margin-left: 20px;
        font-weight: 300;
        color: rgba(0, 0, 0, .8);
        font-size: .9rem;
    }
}
