.message-container{
    height: 100%;
    width: 100%;
    .message{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        font-size: 16px;
        .msg-header{
            font-size: 20px;
            font-weight: 600;
            width: 100%;
        }
    }
}

.thumbnail-msg{
    min-width: 40px;
    min-height: 40px;
    margin: 10px 5px 10px 10px;
    display: flex;
    background-color: orange;
    position: relative;
    border-radius: 2px;
        &:after {
            content: "K";
            text-transform: uppercase;
            font-weight: 500;
            font-size: 16px;
            text-align: center;
            line-height: 40px;
            color: #FFF;
        }
}