$background: #3F045B;
$background-dark: #350d36;
$background-secondary: #3F0E40;
$featureMain: #4a144b;
$featureSecondary: #611F69;
$fullWhite: #FFF;
$bold: 700;

@mixin overlay($opacity: .05, $border-rad: 0, $overlay-color: #000000) {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba($color: $overlay-color, $alpha: $opacity);
    border-radius: $border-rad;
  }
}