
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    height: 50px;
    .footer-description{
        font-weight: 600;
        font-size: 1.25rem;
    }
}