@import './variables';

.scroll-container{
    position: relative;
}
.landing{
    // background-color: $featureMain;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    h1{
        //for seo, main content when
        max-width: 900px;
        font-size: 4rem;
        font-weight: $bold;
        text-align: center;
        color: $fullWhite;
        margin-bottom: 2rem;
    }
    button{
        border: none;
        padding: 20px 0;
        margin: 10px;
        background-color: $fullWhite;
        border-radius: 2px;
        color: $featureMain;
        font-size: 14px;
        font-weight: 600;
        min-width: 225px;
        text-transform: uppercase;
        transition: box-shadow 500ms ease-in;
    }
    button:hover{
        box-shadow: inset 0 0 0 1px #611f69;
        cursor: pointer;
    }
    .featured-content {
        margin-top: 3rem; //half the space of the header to main
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        color: $fullWhite;
        font-size: 2rem !important;
        font-weight: $bold !important;

        .landing-image {
            width: 500px;
            height: 300px;
        }

        .featured-content-textbox {
            display: flex;
            flex-direction: column;
            margin: auto 0;
            margin-left: 3rem;
            max-width: 500px;

            h2 {
                margin: 1rem 0;
            }
        }
    }
}

.colored-text-yellow{   //for the yellow landing text span
    color: #ecb22e;
}

.change-view{
    cursor: pointer;
}

.container{
    width: 100vw;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
    section {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        scroll-snap-align: start;
        // &:nth-of-type(1) {
        //     background-color: $featureMain;
        //     color: $fullWhite;
        // }
        &:nth-of-type(1) {
            background-color: #f6efe8;
            color: black;
            .nav-container{
                background-color: $featureSecondary;
            }
        }
        &:nth-of-type(2) {
            background-color: #f6efe8;
            color: black;

            .nav-container {
                background-color: $featureSecondary;
            }
        }
        &:nth-of-type(3) {
            background-color: #f6efe8;
            color: black;

            .nav-container {
                background-color: $featureSecondary;
            }
        }
    }
    .section-0 {
        height: 105vh;
    }
}

.brand-icon{
    width: 38px;
    height: 30px;
    padding-right: 8px;
    z-index: 10;
}

.feature-container{
    // width: 94%;
    // height: 100%;
    display: flex;
    padding-top: 7rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .feature{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 100px;
        width: 45vw;
        height: 75%;
        .feature-title{
            font-size: 3.5rem;
            font-weight: $bold;
            width: 100%;
        }
        .feature-description{
            margin-top: 2rem;
            font-size: 2rem;
            width: 100%;
            font-weight: $bold;
            svg.icon{
                width: 40px;
                height: 24px;
                padding-left: 16px;
            }
        }
        .in-depth{
            margin-top: 2rem;
            font-size: 1rem;
            font-weight: $bold;
            line-height: 30px;
            &:hover{
                cursor: pointer;
            }
            .span-hidden{
                opacity: 0;
                transition: opacity 1s;
            }
            .span-hidden.active{
                opacity: 1;
            }
        }
    }
    .image{
        // display: flex;
        // justify-content: flex-end;
        display: inline-block;
        margin-left: 125px;
        padding-bottom: 2rem;
        width: 400px;
        height: 400px;
        img{
            width: 100%;
            height: 100%;
        }
    }
}

.channel-name{
    &:before{
        content: "#";
        font-size: inherit;
        font-weight: inherit;
    }
}
@media screen and (max-width: 750px) {
    h1.seo-lackx{
        margin-top: 10rem;
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 650px) {
    h1.seo-lackx{
        font-size: 2.5rem;
        margin-top: 13rem;
    }
}

@media screen and (max-width: 1100px) {
    h1.seo-lackx {
        font-size: 3.5rem;
        margin-top: 10rem;
    }
    .feature-container {
        .feature {
            .feature-title {
                font-size: 30px;
                font-weight: $bold;
            }

            .feature-description {
                margin-top: 2rem;
                font-size: 20px;
                font-weight: $bold;
            }
        }
    }
    .featured-content{
        .landing-image{
            width: 350px !important;
            height: 250px !important;
        }
        .featured-content-textbox{
            max-width: 350px !important;
        }
    }
}

@media screen and (max-width: 1050px) {
    .featured-content{
        flex-wrap: wrap;
        justify-content: center;
    }
}