@import "./variables";

.navbar{
    .nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        .nav-item {
            font-size: 1.125rem;
            font-weight: $bold;
            display: flex;
            height: 80px;
            width: 130px;
            align-items: center;
            .nav-link{
                color: $fullWhite;
            }
        }

        .brand {
            font-size: 1.5rem;
        }
        margin: 0 2rem;
    }
}

.right{
    margin-left: auto;
}