@import "./variables";

.navbar-container{
    display: flex;
    justify-content: center;
    border: none;
    height: 0;
}
.navbar {
    width: 90vw;
    // position: relative;
    // background-color: $featureMain;
    // top: 75px;
    // margin-bottom: 2rem;
    .nav {
        padding-top: 10px;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .nav-item {
            font-size: 1.2rem;
            font-weight: $bold;
            display: flex;
            margin-top: 40px;
            width: 10%;
            align-items: center;
            &:last-child{
                display: flex;
            }
            .nav-link {
                display: flex;
                position: relative;
                color: $fullWhite;
                z-index: 10; //hoverable no matter the conditions
                &:after{
                    content: "";
                    position: absolute;
                    background-color: white;
                    height: 2px;
                    width: 0;
                    top: 35px;
                    left: 0;
                    transition: 400ms
                }
                &:hover:after{
                    width: 100%;
                }
            }
        }

        .brand {
            display: flex;
            align-items: center;
            font-size: 1.5rem;
            font-weight: $bold;
            margin-left: 5%;
            margin-right: 5%;
            .nav-link{
                &:after{
                    top: 41px
                }
            }
        }

        margin: 0 2rem;
    }
}

#nav-right {
    margin-left: auto;
}

@keyframes fade-in{
    from { opacity: 0;}
    to { opacity: 1;}
}

.nav.scrolled-1 {
    margin-top: 10px;
    animation: fade-in 1s forwards;
    // width: 90vw;
    background-color: $fullWhite;
    border-radius: 50px;
    display: flex;
    padding-top: 0;
    flex-direction: row;
    align-items: center;
    .nav-item{
        .nav-link {
            z-index: 20;
            color: #000000;
        }
    }
}

@media screen and (max-width: 700px){
    .navbar {
        .nav {
            .nav-item {
                font-size: 1rem;
                &:last-child {
                    display: flex;
                }
            }
        }
    }
}
    