@import '../../variables';
.sidebar-menu-container{
    display: flex;
    align-items: center;
    .sidebar-menu-btn{
        padding: 7px 0;
        color: darken($color: rgba(255, 255, 255, .6), $amount: 10%);
        font-size: 15px;
        line-height: 15px;
        padding-right: 110px;
        &:hover{
            background-color: darken($color: $background-secondary, $amount: 4%);
        }
    }
    .sidebar-menu-icon{
        box-sizing: content-box;
        width: 20px;
        height: 13px;
        line-height: 15px;
        padding-left: 8px;
        padding-right: 7px;
        padding-top: 4px;
    }
}